<div class="md-modal md-effect-9" id="modal-move">
  <div class="md-content modal-move-image">
    <div>
      <p class="heading"><%= t("common.move") %></p>
      <div class="corners shadow">
        <div class="box-header">
          <h4></h4>
        </div>
        <div class="container-tree">
          <ol class="tree">
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
