<div id="delete-selection" class="md-modal md-effect-1">
    <div class="md-content">
      <div>
        <p class="heading"><%= t(".title") %></p>
        <div class="row">
          <div class="span-md-12 span-lg-12 span-xs-12">
            <p class="prevent_message"><%= t(".tips") %></p>
          </div>
        </div>
        <div class="row">
          <div class="span-md-12 span-lg-12 span-xs-12">
            <div class="text-center">
              <%= render partial: "gallery/images/form_destroy" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
