<div id="edit-image-element" class="full-modal">
  <div class="full-content">
    <div class="row">
      <div class="span12 span-md-12 span-lg-12 span-xs-12">
        <p class="heading"><%= t(".title") %>&nbsp;:&nbsp;</p>
      </div>
    </div>
    <div class="form-container">
      <%#= render partial: "gallery/images/form_crop", locals: { graph_image: graph_image } %>
    </div>
  </div>
</div>
